* {
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #f4f4f4;
    }
  }
}

html {
  background-color: #ffffff;
  &.dark {
    background-color: #1e1e20;
  }
}

html {
  --transition: all 0.3s ease;
}
